[advice]
statusHints = false

[alias]
co       = checkout
cdiff    = diff --cached
cat      = !git --no-pager show
loggraph = log --graph --pretty=oneline --abbrev-commit
numstat  = !git --no-pager diff --cached --numstat
purge    = clean -dX
revno    = rev-list --count HEAD
svnstat  = !git --no-pager diff --name-status --cached
toadd    = !git --no-pager diff --name-status
vreji    = log --pretty=format:%H%x20%x20%ai%n%s%n

[clean]
requireForce = false

[color]
pager = false

[core]
ignorecase = false
logallrefupdates = false

[diff]
renames = true

[fetch]
prune = true

[gc]
pruneExpire = 7.days.ago
reflogexpire = 7
reflogexpireunreachable = 7

[merge]
tool = vimdiff

[pull]
rebase = true

[push]
default = simple

[rebase]
autoStash = true

#[user]
#name = ???
#email = ???
